<Alloy>
	<View class="container">
		<ListView id="lv" class="lv lv-noseparator" defaultItemTemplate="template" onItemclick="menuClick">
			<Templates>
				<ItemTemplate name="template" class="li">
					<ImageView bindId="icon" class="icon"/>
					<Label bindId="title" class="title"/>
				</ItemTemplate>
			</Templates>
			<HeaderView><View class="hv"/></HeaderView>
			<FooterView><View class="fv"/></FooterView>
		</ListView>
		<ActivityIndicator id="ai" class="ai"/>
	</View>
</Alloy>
